@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes border-flash {
    0% {
      border-color: transparent !important;
    }
    50% {
      border-color: red !important;
    }
    100% {
      border-color: transparent !important;
    }
  }
  
  .border-flash {
    animation: border-flash 1s ease-in-out;
  }